[submodule "blog-pack"]
	path = blog-pack
	url = git@github.com:ardumont/blog-pack.git
[submodule "buffer-pack"]
	path = buffer-pack
	url = git@github.com:ardumont/buffer-pack.git
[submodule "scratch-pack"]
	path = scratch-pack
	url = git@github.com:ardumont/scratch-pack.git
[submodule "haskell-pack"]
	path = haskell-pack
	url = git@github.com:ardumont/haskell-pack.git
[submodule "orgmode-pack"]
	path = orgmode-pack
	url = git@github.com:ardumont/orgmode-pack.git
[submodule "lisp-pack"]
	path = lisp-pack
	url = git@github.com:ardumont/lisp-pack.git
[submodule "git-pack"]
	path = git-pack
	url = git@github.com:ardumont/git-pack.git
[submodule "mail-pack"]
	path = mail-pack
	url = git@github.com:ardumont/mail-pack.git
[submodule "shell-pack"]
	path = shell-pack
	url = git@github.com:ardumont/shell-pack.git
[submodule "browser-pack"]
	path = browser-pack
	url = git@github.com:ardumont/browser-pack.git
[submodule "chat-pack"]
	path = chat-pack
	url = git@github.com:ardumont/chat-pack.git
[submodule "clojure-pack"]
	path = clojure-pack
	url = git@github.com:ardumont/clojure-pack.git
[submodule "nrepl-pack"]
	path = nrepl-pack
	url = git@github.com:ardumont/nrepl-pack.git
[submodule "clojurescript-pack"]
	path = clojurescript-pack
	url = git@github.com:ardumont/clojurescript-pack.git
[submodule "caml-pack"]
	path = caml-pack
	url = git@github.com:ardumont/caml-pack.git
[submodule "install-packages-pack"]
	path = install-packages-pack
	url = git@github.com:ardumont/install-packages-pack.git
